#map {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.leaflet-map-pane {
    z-index: 2 !important;
}

.chat-panel-hide {
    visibility: hidden;
    opacity: 0;
    transition: all 0.7s;
    position: fixed;
    width: 400px;
    left: -50px;
    top: -50px
}
.chat-panel-vis {
    visibility: visible;
    opacity: 1;
}

.leaflet-google-layer {
    z-index: 1 !important;
}
#button {
    position: fixed;
    top: 100px;
    left: 15px;
}

.hidden-element {
    z-index: 100;
    position: fixed;
    top: -50px;

}

/*
.custom-popup .leaflet-popup-content-wrapper {
    background:#2c3e50;
    color:#fff;
    font-size:16px;
    line-height:24px;
}
.custom-popup .leaflet-popup-content-wrapper a {
    color:rgba(255,255,255,0.5);
}
.custom-popup .leaflet-popup-tip-container {
    width:30px;
    height:15px;
}
.custom-popup .leaflet-popup-tip {
    border-left:15px solid transparent;
    border-right:15px solid transparent;
    border-top:15px solid #2c3e50;
}*/
